{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div class='main'>
  <div class='alert'>
    <div class='alert__info'>
      <h1>{{info}}</h1>
      <div>{{description}}</div>
    </div>
    <div class='alert__button'>

      <div class='main__button'>
        <a
          href='/product-list'
          class='button_name'
        >Повернутися назад</a>
      </div>
    </div>
  </div>
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}