@use '../../lib/service.scss' as s;

.product {
  display: flex;
  flex-direction: column;
  padding: s.space(4);
  gap: s.space(8);

  &__title {
    font-size: 20px;
    font-weight: bold;
  }

  &__content {
    display: grid;
    gap: s.space(6);
  }

  &__field {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: s.space(2);
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: s.space(2);
  }

  &__label {
    font-size: 14px;
  }
  &__label1 {
    font-size: 14px;
    color: s.color('shadow');
  }
  &__input1 {
    border: 1px solid s.color('light');
    padding: s.space(2);
  }

  &__input {
    display: flex;
    border: 1px solid s.color('light');
    padding: s.space(4);
  }

  &__button {
    border: 1px solid s.color('light');
    padding: s.space(2);
    background-color: s.color('primary');
    color: s.color('light');
  }
}
h1 {
  font-size: 30px;
  font-weight: bold;
  color: s.color('primary');
  margin-left: 50px;
  margin-top: 25px;
}
.main {
  display: flex;
  flex-direction: column;
  gap: s.space(10);
  border: 1px solid s.color('light');
  border-radius: 20px;
  box-shadow: 0px 0px 15px s.color('shadow');
  margin: 50px;
}
.user-list {
  li {
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
